input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cabecalho {
  background-color: aquamarine;
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  border-bottom: 3px solid rgb(186, 255, 232);
  align-items: center;
}

h3 {
  position: absolute;
  color: white;
  margin-top: -30px;
  margin-left: 10px;
}

h2 {
  font-size: 40px;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  border: solid 1px white;
  border-radius: 50px;
  margin-left: 10px;
  height: 90px;
  margin-top: 5px;
}

.bg {
  background-color: #00BF97;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form {
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(121, 224, 190);
  margin: 20px 35px 20px 35px;
  width: 800px;
}

h1 {
  background-color: rgb(85, 85, 85);
  padding: 10px;
  border-radius: 10px;
  color: rgb(200, 200, 200);
}

.campoForm {
  margin-bottom: 30px;
}

.doenca {
  width: 400px
}

.doencaSeleciona {
  width: 300px;
}
